body {
    font-family: Helvetica, Calibri, Arial, sans-serif;
    background: #F2855A; 
    margin: 0;
}

#rejuve-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    max-width: 125px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: white;
}

h1 {
    text-align: center;
    color: white;
    background: #F2855A;
    padding: 20px;
    /* font-size: 3.5vw; */
    font-size: max(2.3vw, 36px);
    font-weight: 400;
}

main {
    background: #F2855A;
}


a:link {
    color: #F2855A; 
    text-decoration: none;
}

a:visited {
    color: #F2855A;
    text-decoration: none;
}

a:hover {
    color: #F2855A;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #F2855A;
    background-color: transparent;
    text-decoration: none;
}

.button {
    font-family: "Helvetica", "Helvetica", "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin: 0 auto; 
    display: block;
    /* width: 10%; */
    width: 19vw;
    max-width: 175px;
    text-align: center;
    color: #ffffff;
    background: white;
    padding: 22px 18px;
    /* font-size: 1.8vw; */
    font-size: max(1.1vw, 24px);
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #fce7de;
    background: #fce7de;
    color: #ffffff;
}
.button:active {
    border-top-color: #ffffff;
    background: #ffffff;
}

.image-block-row {
    display: flex;
    background: white;
    padding: 13.5px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
   
}

.image-block-column {
    flex: 33.33%;
    padding: 13.5px;
}

@media only screen and (max-width: 600px) {
}

.white-background {
	background-color: white;
}

footer {
    color: white; 
    background: #F2855A;
    /* padding: 30px; */
    padding: 6vw;
    bottom: 0px;
    width: 100vw;
    margin-bottom:0;
}

h2 {
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-size: 1.6vw; */
    font-size: max(0.9vw, 10px); 
    font-weight: 500;
}

.address {
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    /* font-size: 1.3vw; */
    font-size: max(0.8vw, 10px); 
}

#instagram {
    filter: invert(100%);
}



